{{>layout/header}}

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">아무거나 게시판</h1>
            <p class="lead">아무거나 남기는 게시판입니다.</p>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                    </div>
                </div>
                <p> </p>
                <!-- 목록 출력 영역 -->
                <table class="table table-horizontal table-bordered">
                    <thead class="thead-strong">
                    <tr>
                        <th>게시글번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>최종수정일</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    {{#posts}}
                        <tr>
                            <td>{{id}}</td>
                            <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                            <td>{{author}}</td>
                            <td>{{modifiedDate}}</td>
                        </tr>
                    {{/posts}}
                    </tbody>
                </table>
            </div>

            <ul class="list-unstyled">
                <li>COPYRIGHT 2020 CAS CORPORATION. ALL RIGHTS RESERVED</li>
            </ul>
        </div>
    </div>
</div>

{{>layout/footer}}